html, body  {
    background-color:#ffbcaf;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.container{
    background-color: #ffbcaf;  
    position: absolute;
   
}


.col-sm-6{
    margin-top: 15%;
    margin-left:  85px;
   
    
}
